#game-board{
    display: flex;
    flex-flow: row;
}

#game-button{
    margin:5px;
}

#game-text-element{
    margin: 10px;
}

#game-board-side{
    display: flex;
    flex-direction: row;
    margin: 20px;
}


